* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.container{
  padding: 15px;
  width: 1000px;
  margin: 0 auto;
}

.title {
  text-align: center;
  padding: 20px 0;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

.field {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
}

.data {
  width: 32%;
  padding: 10px;
  margin: 10px 0;
}

.border{
  color: grey;
  border: 1px solid gray;
  border-radius: 3px;
  outline: none;
}

.or{
  color: grey;
  text-align: center;
}

.or:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid gray;
  margin: 0 5px 0 0;
 }

.or:after{
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 1px;
  border-bottom: 1px solid gray;
  margin: 0 0 0 5px;
}

p{
  padding: 10px 0;
  color: grey;
}

.registration {
  font-size: 18px;
  color: white;
  background-color: #4fa540;
}

button :hover{
  background-color: greenyellow;
  cursor: pointer;
}

.fb {
  font-size: 18px;
  color: white;
  background-color: #2f50a3;
}

/* .fb :hover{
  background-color: lightskyblue;
} */